In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
import pickle

In [ ]:
# Load dataset
data = pd.read_csv("/content/drive/MyDrive/ML project files/results.csv")
print(data)

     Unnamed: 0  Hindi  English  Science  Maths  History  Geograpgy  Total  \
0             0     65       10       59      3       71         37    245
1             1     94       56        4     67       91         50    362
2             2      7       85       76     99       60         25    352
3             3     88       46       59     94       52         38    377
4             4     39       81       37     38        6         54    255
..          ...    ...      ...      ...    ...      ...        ...    ...
995         995     55       89       68     58       13         13    296
996         996     42       62       25     87       51         68    335
997         997      9       83       70     14       11         78    265
998         998     23       82       31     42       84         52    314
999         999     75       78       68     33       79         91    424

     Results  Div
0          0    3
1          1    1
2          0    2
3          1    1
4          1    3
..       ...  ...
995        0    2
996        1    2
997        0    3
998        0    2
999        1    1

[1000 rows x 10 columns]

In [ ]:
result_data = data[['Hindi','English','Maths','History','Results']]
print(result_data)

     Hindi  English  Maths  History  Results
0       65       10      3       71        0
1       94       56     67       91        1
2        7       85     99       60        0
3       88       46     94       52        1
4       39       81     38        6        1
..     ...      ...    ...      ...      ...
995     55       89     58       13        0
996     42       62     87       51        1
997      9       83     14       11        0
998     23       82     42       84        0
999     75       78     33       79        1

[1000 rows x 5 columns]

In [ ]:
# Features & target
X = data[['Hindi','English','Maths','History']]
y = data['Results']

In [ ]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [ ]:
# Random Forest model
model = RandomForestClassifier(
    n_estimators=100,
    random_state=42
)

In [ ]:
model.fit(X_train, y_train)

# Save model
pickle.dump(model, open("exam_result_model.pkl", "wb"))

print("✅ Model trained and saved successfully")

✅ Model trained and saved successfully